.calculator {
    background-color: #d8c8a6;
    width: 410px;
    margin: 0 auto;
    overflow: auto;
    font-size: 50px;
}

.displayEquation {
    background-color: #a1beed;
    padding: 1px;
    margin: 1px 1px 0px 1px;
    height: auto;
    font-size: 30px;
    text-align: right;
    pointer-events:none;
}

.display {
    background-color: #a1beed;
    padding: 1px;
    margin: 0px 1px 1px 1px;
    height: auto;
    font-size: 50px;
    text-align: right;
    pointer-events:none;
}

.button {
    background-color: #7594c6;
    padding: 1px;
    margin: 1px;
    border: 1px;
    height: 60px;
    float: left;
    width: 100px;
    text-align: center;
    font-size: 30px;
}

.button:hover {
    background-color: #526b93;
}

.ButtonRow {
    overflow: auto;
}